.container {
  background-color: #FFFFFC;
  height: 100%;
  color: #001011;
}

.container h1 {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 5px;
  padding: 1%;
  padding-left: 1.25%;
  margin: .25%;
  font-size: 1.5em;
}

button:hover {
  background-color: #F5E642;
}

.container-cards {
  display: flex;
  justify-content: center;
}

.container-cards button {
  height: 200px;
  width: 200px;
  margin: 3px;
  border: none;
  font-size: 2em;
}

ul {
  list-style: none;
}

.directions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin: 1% 20%;
  border: 4px #757780 solid;
}

.directions p {
  font-size: 1.5em;
}

.list-shopping {
  font-size: 1.5em;
  cursor: pointer;
  margin: 10px 0;
}

.checkbox-shopping {
  cursor: pointer;
  margin-right: 10px;
  height: 2em;
  width: 2em;
}

.container-user-navigation {
  float: right;
}

.container-cooking-navigation {
  float: left;
}

.container-top-navigation {
  height: 70px;
}

.container-user-navigation-open {
  width: 200px;
  padding: 0;
  margin: 0;
}

.container-user-navigation-open ul {
  padding: 0;
  margin: 0;
}

.container-nav-item {
  height: 50px;
  background-color: aquamarine;
  border: 3px solid mediumaquamarine;
  padding: 6px;
}

.nav-item-label {
  display: inline;
  font-size: 30px;
  padding-left: 10px;
}

.nav-item-icon {
  height: 50px;
  width: 50px;
}

.navigation-icon {
  height: 50px;
  width: 50px;
  background-color: violet;
  color: magenta;
}
/* blue #6CCFF6 */
/* black #001011 */
/* grey #757780 */
/* white #FFFFFC */
/* green #98CE00 */
